body{
    padding-top:70px ;
    background-color: rgb(164, 225, 247);
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS for nav bar */
.navbar{
    position: fixed;
    display:flex;
    top: 0px;
    left: 0;
    right:0;
    justify-content: flex-end;
    align-items: center;
    background-color: antiquewhite;
    height: 50px;
    width: 100%;
}

.Links{
        text-align: center;
        list-style: none;
        display: flex;
}
.Links a{
     text-decoration: none;
     color: black;
     justify-content: flex-end;
     margin: 20px; 
     padding: 20px 20px 40px 20px;
     border-radius: 100%;
     
}
.Links a:hover{
    background: blue;
    color: chartreuse;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.Logo{
    height: 50px;
    display: flex;
    align-self: flex-start;
    margin-left: 0;
}

.Links a.active{
    background-color: rgb(164, 225, 247);
    color:black;
    border-radius: 6px;
}
/* CSS for index page */
/* CSS for short intro in index page */
.short_intro{
    font-weight: 1000;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-left: 50px;
    color: rgb(224, 82, 205);
    display: flex;
}
.name{
    color: rgb(2, 0, 0);
    font-size: 80px;
}

/* CSS for My Photo in index page*/

.short_intro img{
    width:250px;
    border-radius: 80%;
    margin-left: 200px;
    transform: translate(-60px,-100px);
    box-shadow:  20px 20px 100px blue;


    
}