body{
    padding-top:70px ;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS for nav bar */

.Navbar{
                display: flex;
                background-color:white;
                justify-content: space-evenly;
                height:50px;
                width: 100%;
                position: fixed;
                top: 0px;

            }
            .logo{
                position: relative;
                top: 10px;
                display: flex;
                height: 70px;
                
            } 
            
            .services ul{
                position: relative;
                display: flex;
                list-style: none;
                margin-top: 2px;
                height: 30px;
                width: 100%;
                background-color: white;
                top:20px;
            }
            .services a{
                text-decoration: none;
                margin: 20px;
                color: black;
                font-size: 20px;
            }

            .services a:hover{
                background-color:rgb(85, 76, 255); 
                padding: 10px;
                color: white;
                border-radius: 10px;
            }
            .contact a{
                position: relative;
                text-decoration: none;
                font-size: 20px;
                color: white;
                background-color: rgb(85, 76, 255);
                padding: 10px;
                border-radius: 10px;
                top: 20px;
                      }

            .services a.active{
    background-color:rgb(85, 76, 255);
    color:white;
    padding: 10px;
    border-radius: 10px
    }

 
 
/* CSS for index page */
/* CSS for short intro in index page */
.short_intro{
    font-weight: 1000;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    display: flex;
}
.name{
    color: rgb(85,76,225);
    font-size: 80px;
}

/* CSS for My Photo in index page*/

.short_intro img{
    width:200px;
    border-radius: 70%;
    background: none;
    background-color: white;
    background-blend-mode: color;
    /* margin-left: 200px; */
    
    box-shadow:  20px 20px 100px blue;    
}
.My_photo{
    width: 220px;
    height: 320px;
    border-radius: 80%;
    border: 10px solid rgb(85, 76, 255);
    transform: translate(130px,-50px);
    /* transform: scale(1.5); */
    /* border-color: aqua; */
}

/* CSS for progress bar */

/* bar for skill-1 */
.skill-1{
    position: relative ;
    top: 500px;
    left: 10px;
}
.skill_info1 span{
    color: black;
    font-size: medium;
    margin: 80px;
}
.outer1{
    position: relative;
    left: 75px;
    width: 250px;
    height: 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgb(139, 142, 199);
}
.inner1{
    width: 50%;
    height: 100%;
    /* border: 0px solid red; */
    background-color: rgb(85, 76, 255);
    border-radius: 20px;
}
/* bar for skill-2 */
.skill-2{
    position: relative ;
    top: 500px;
    left: 900px;
}
.skill_info2 span{
    color: black;
    font-size: medium;
    margin: 80px;
}
.outer2{
    position: relative;
    left: 75px;
    width: 250px;
    height: 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgb(139, 142, 199);
}
.inner2{
    width: 50%;
    height: 100%;
    /* border: 0px solid red; */
    background-color: rgb(85, 76, 255);
    border-radius: 20px;
}

/* bar for skill-3 */
.skill-3{
    position: relative ;
    top: 500px;
}
.skill_info3 span{
    color: black;
    font-size: medium;
    margin: 80px;
}
.outer3{
    position: relative;
    left: 75px;
    width: 250px;
    height: 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgb(139, 142, 199);
}
.inner3{
    width: 50%;
    height: 100%;
    /* border: 0px solid red; */
    background-color: rgb(85, 76, 255);
    border-radius: 20px;
}

/* bar for skill-4 */
.skill-4{
    position: relative ;
    top: 500px;
    left: 800px;
}
.skill_info4 span{
    color: black;
    font-size: medium;
    margin: 80px;
}
.outer4{
    position: relative;
    left: 75px;
    width: 250px;
    height: 20px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgb(139, 142, 199);
}
.inner4{
    width: 50%;
    height: 100%;
    /* border: 0px solid red; */
    background-color: rgb(85, 76, 255);
    border-radius: 20px;
}